S3method(addExperiments,ExperimentRegistryMlr)
S3method(print,ReducedResultsExperimentsMlr)
export(addMlrDataTask)
export(addMlrLearner)
export(addMlrTask)
export(addSimulatedData)
export(getResamplingInstance)
export(getTask)
export(makeExperimentRegistryMlr)
export(makeTask)
export(reduceResultsMlr)
export(unwrapOptResults)
import(BatchExperiments)
import(BatchJobs)
import(mlr)
import(plyr)
